<html lang="en">
    <head>
        <title>Node Basics Project</title>
    </head>
    <body>
        <h1>Hello, world</h1>
        <p>Gamarjoba <%= name %></p>
        <%- include('./partials/nav.ejs') %>
    </body>
   
</html>